---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const releases = await getCollection("releases");
---

<Layout title="Lanzamientos Código Verónica">
  <main
    class="flex flex-col-reverse items-center justify-end gap-4 w-full h-max pt-16"
  >
    {
      releases.map((song) => {
        const { data } = song;
        const { released } = data;

        return released && <Button song={song} />;
      })
    }
  </main>
</Layout>
