<header
  class="w-full h-auto flex flex-col justify-center items-center pt-16 gap-4"
>
  <img
    src="/avatar.jpg"
    alt=""
    class="w-20 rounded-full border-2 border-white"
  />
  <h1 class="text-white text-5xl">CÓDIGO VERÓNICA</h1>
</header>
